openapi: 3.0.3
info:
  title: 마비노기 API
  version: 1.0.0
  contact:
    name: help_openapi@nexon.co.kr
  description: |-
    - 마비노기의 게임 데이터는 평균 10분 후 확인 가능합니다.
    - 반짝이는 색상의 코드 정보는 제공되지 않습니다.
    - 각 인챈트 스크롤 아이템은 "인챈트 스크롤"로 검색 후 아이템 세부 옵션의 option_value에서 인챈트 스크롤 종류를 확인하실 수 있습니다.

servers:
  - url: 'https://open.api.nexon.com'

tags:
  - name: Auction
    description: 경매장 매물 검색 및 거래 내역 조회

paths:
  /mabinogi/v1/auction/list:
    get:
      tags:
        - Auction
      summary: 경매장 매물 검색
      description: 현재 경매장에서 판매중인 매물 리스트 조회
      operationId: mabinogi_get_auction_list
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: auction_item_category
          in: query
          required: false
          schema:
            type: string
            enum:
              - 개조석
              - 검
              - 경갑옷
              - 기타
              - 기타 소모품
              - 기타 스크롤
              - 기타 장비
              - 기타 재료
              - 꼬리
              - 날개
              - 낭만농장/달빛섬
              - 너클
              - 던전 통행증
              - 도끼
              - 도면
              - 둔기
              - 듀얼건
              - 랜스
              - 로브
              - 마기그래프
              - 마기그래프 도안
              - 마도서
              - 마리오네트
              - 마법가루
              - 마비노벨
              - 마족 스크롤
              - 말풍선 스티커
              - 매직 크래프트
              - 모자/가발
              - 방패
              - 변신 메달
              - 보석
              - 분양 메달
              - 불타래
              - 뷰티 쿠폰
              - 생활 도구
              - 석궁
              - 수리검
              - 스케치
              - 스태프
              - 신발
              - 실린더
              - 아틀라틀
              - 악기
              - 알반 훈련석
              - 액세서리
              - 양손 장비
              - 얼굴 장식
              - 에이도스
              - 에코스톤
              - 염색 앰플
              - 오브
              - 옷본
              - 원거리 소모품
              - 원드
              - 음식
              - 의자/사물
              - 인챈트 스크롤
              - 장갑
              - 제련/블랙스미스
              - 제스처
              - 주머니
              - 중갑옷
              - 책
              - 천옷
              - 천옷/방직
              - 체인 블레이드
              - 토템
              - 팔리아스 유물
              - 퍼퓸
              - 페이지
              - 포션
              - 피니 펫
              - 핀즈비즈
              - 한손 장비
              - 핸들
              - 허브
              - 활
              - 힐웬 공학
          description: 아이템 카테고리
        - name: item_name
          in: query
          required: false
          schema:
            type: string
          description: 아이템 이름
          example: 롱 소드
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: 페이징 처리를 위한 cursor<br>- 최초 조회 시 빈값으로 요청<br>- 응답 값으로 받은 next_cursor를 사용하여 다음 500개의 매물 리스트를 조회
          example: 1a0fba40cfe6e653f508887de45b5624
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionItem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /mabinogi/v1/auction/history:
    get:
      tags:
        - Auction
      summary: 경매장 거래 내역 조회
      description: 경매장에서 아이템이 판매된 내역 조회 <br> 최근 1시간 데이터 제공
      operationId: mabinogi_get_auction_history
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: auction_item_category
          in: query
          required: false
          schema:
            type: string
            enum:
              - 개조석
              - 검
              - 경갑옷
              - 기타
              - 기타 소모품
              - 기타 스크롤
              - 기타 장비
              - 기타 재료
              - 꼬리
              - 날개
              - 낭만농장/달빛섬
              - 너클
              - 던전 통행증
              - 도끼
              - 도면
              - 둔기
              - 듀얼건
              - 랜스
              - 로브
              - 마기그래프
              - 마기그래프 도안
              - 마도서
              - 마리오네트
              - 마법가루
              - 마비노벨
              - 마족 스크롤
              - 말풍선 스티커
              - 매직 크래프트
              - 모자/가발
              - 방패
              - 변신 메달
              - 보석
              - 분양 메달
              - 불타래
              - 뷰티 쿠폰
              - 생활 도구
              - 석궁
              - 수리검
              - 스케치
              - 스태프
              - 신발
              - 실린더
              - 아틀라틀
              - 악기
              - 알반 훈련석
              - 액세서리
              - 양손 장비
              - 얼굴 장식
              - 에이도스
              - 에코스톤
              - 염색 앰플
              - 오브
              - 옷본
              - 원거리 소모품
              - 원드
              - 음식
              - 의자/사물
              - 인챈트 스크롤
              - 장갑
              - 제련/블랙스미스
              - 제스처
              - 주머니
              - 중갑옷
              - 책
              - 천옷
              - 천옷/방직
              - 체인 블레이드
              - 토템
              - 팔리아스 유물
              - 퍼퓸
              - 페이지
              - 포션
              - 피니 펫
              - 핀즈비즈
              - 한손 장비
              - 핸들
              - 허브
              - 활
              - 힐웬 공학
          description: 아이템 카테고리
        - name: item_name
          in: query
          required: false
          schema:
            type: string
          description: 아이템 이름
          example: 롱 소드
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: 페이징 처리를 위한 cursor<br>- 최초 조회 시 빈값으로 요청<br>- 응답 값으로 받은 next_cursor를 사용하여 다음 500개의 거래 내역 리스트를 조회
          example: 1a0fba40cfe6e653f508887de45b5624
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionHistory'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /mabinogi/v1/auction/keyword-search:
    get:
      tags:
        - Auction
      summary: 경매장 매물 키워드 검색
      description: 현재 경매장에서 판매 중인 매물에 대한 키워드 검색
      operationId: mabinogi_get_keyword_search
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: keyword
          in: query
          required: true
          schema:
            type: string
          description: |
            아이템 검색어
            - 검색어는 string 내 단어 별 쉼표(,)로 구분하여 최소 1개, 최대 10개 입력이 가능합니다.
            - 검색어는 한글, 영문, 숫자만 사용 가능하며, 쉼표를 제외한 특수 문자 및 공백 등을 입력 시 쉼표로 치환되어 검색됩니다.
            - 이름에 검색어가 모두 포함된 아이템을 조회합니다.<br> e.g. keyword="숏,소드"로 조회 시 "숏 소드", "배틀 숏 소드", "모험가의 플루트 숏 소드" 등이 조회됩니다.
            - 검색어로 입력된 단어와 아이템 이름에 포함된 단어가 정확히 일치하는 경우만 조회됩니다.<br> e.g. keyword="모험가,소드"로 조회 시, "모험가의 플루트 숏 소드"는 조회되지 않습니다.
          example: 숏,소드
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: 페이징 처리를 위한 cursor<br>- 최초 조회 시 빈값으로 요청<br>- 응답 값으로 받은 next_cursor를 사용하여 다음 매물 리스트를 조회<br>- 1회 조회 시 최대 500개 매물 리스트 응답
          example: 1a0fba40cfe6e653f508887de45b5624
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionItem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

components:
  schemas:
    AuctionItem:
      type: object
      properties:
        auction_item:
          type: array
          description: 현재 판매중인 아이템 목록
          items:
            type: object
            properties:
              item_name:
                type: string
                description: 해당 아이템의 이름
              item_display_name:
                type: string
                description: 아이템 전체 이름
              item_count:
                type: integer
                format: int64
                description: 해당 아이템의 판매 수량
              auction_item_category:
                type: string
                description: 해당 아이템의 카테고리
              auction_price_per_unit:
                type: integer
                format: int64
                description: 해당 아이템의 개당 판매 가격
              date_auction_expire:
                type: string
                example: "2024-09-01T08:28:35Z"
                description: 만료 기한 (해당 아이템의 판매가 종료되는 일시) (UTC0)
              item_option:
                type: array
                items:
                  type: object
                  properties:
                    option_type:
                      type: string
                      description: 아이템 옵션 유형
                    option_sub_type:
                      type: string
                      description: 아이템 옵션 하위 유형
                    option_value:
                      type: string
                      description: 아이템 옵션 값
                    option_value2:
                      type: string
                      description: 아이템 옵션 값 2
                    option_desc:
                      type: string
                      description: 아이템 옵션 부가 정보
        next_cursor:
          type: string
          description: 다음 페이지 조회용 Cursor(null 일 경우 다음 페이지 없음)
    AuctionHistory:
      type: object
      properties:
        auction_history:
            type: array
            description: 거래 목록
            items:
              type: object
              properties:
                item_name:
                  type: string
                  description: 해당 아이템의 이름
                item_display_name:
                  type: string
                  description: 아이템 전체 이름
                item_count:
                  type: integer
                  format: int64
                  description: 해당 아이템의 거래 수량
                auction_item_category:
                  type: string
                  description: 해당 아이템의 카테고리
                auction_price_per_unit:
                  type: integer
                  format: int64
                  description: 해당 아이템의 개당 판매 가격
                date_auction_buy:
                  type: string
                  example: "2024-09-01T08:28:350Z"
                  description: 해당 아이템이 거래된 일시 (UTC0)
                auction_buy_id:
                  type: string
                  description: 해당 아이템의 거래 식별 정보
                item_option:
                  type: array
                  items:
                    type: object
                    properties:
                      option_type:
                        type: string
                        description: 아이템 옵션 유형
                      option_sub_type:
                        type: string
                        description: 아이템 옵션 하위 유형
                      option_value:
                        type: string
                        description: 아이템 옵션 값
                      option_value2:
                        type: string
                        description: 아이템 옵션 값 2
                      option_desc:
                        type: string
                        description: 아이템 옵션 부가 정보
        next_cursor:
          type: string
          description: 다음 페이지 조회용 Cursor(null 일 경우 다음 페이지 없음)
    ErrorMessage:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
              description: 에러 명
              example: string
            message:
              type: string
              description: 에러 설명
              example: string
